.board {
  td {
    padding: 0;
  }

  .cell {
    font-size: 1.33rem;
    height: 2em;
    width: 2em;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    border-spacing: 0;
    background-color: lightgrey;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    &.cell-unknown {
      border-width: thick;
      border-style: outset;
    }

    &.cell-flagged {
      border-width: thick;
      border-style: outset;
      color: darkred;
    }

    &.cell-1 {
      color: blue;
    }

    &.cell-2 {
      color: darkgreen;
    }

    &.cell-3 {
      color: darkred;
    }

    &.cell-4 {
      color: darkblue;
    }

    &.cell-5 {
      color: darkorange;
    }

    &.cell-6 {
      color: darkcyan;
    }

    &.cell-7 {
      color: black;
    }

    &.cell-8 {
      color: darkgrey;
    }
  }
}